html {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    visibility: hidden;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'font', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
}

.section-offset {
    padding-bottom: 70px;
}

/*header*/
.top-header {
    padding-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    align-items: center;
}

.header-logo {
    margin-right: 40px;
}

.header-row {
    padding: 27px 50px;
    justify-content: space-between;
    outline: 1px solid gray;
}


.header-list-item:not(:last-child) {
    margin-right: 45px;
}

.header-button:not(:last-child) {
    margin-right: 40px;
}

/*hero*/

.hero-list {
    min-height: 540px;
    justify-content: space-between;
}

.hero-list__item {
    max-width: 573px;
    width: 100%;
}

.hero-item-list {
    height: 100%;
}


.hero-card {
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid coral;
    border-radius: 15px;
}

.hero-card__desc {

}

.hero-item-list__item {
    min-height: 258px;

}

.hero-item-list__item:first-child {
    margin-bottom: 24px;
}

.hero-card_big {
    height: 100%;
}


/*about-us*/
.about-us-contant {
    max-width: 888px;
}

/*services*/
.services-list {
    flex-wrap: wrap;
}

.services-list-item {
    max-width: 571px;
    min-height: 330px;
    margin-bottom: 24px;
    border: 1px solid coral;
}

.services-list-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.services-item-desc {
    padding: 26px 126px 35px 45px;
}

/* advantages */

.advantages-list {
    max-width: 1200px;
    min-height: 643px;
    flex-wrap: wrap;
}

.advantages-list-item {
    max-width: 276px;
    min-height: 276px;
    margin-bottom: 22px;
    flex-direction: column;
    outline: 1px solid coral;
}

.advantages-list-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item-text {
    padding: 10px 45px;
    padding-bottom: 32px;
}

.advantages-item-image {
    padding: 40px 165px 10px 45px;
}

/*placement*/

.placement-list {
    width: 1170px;
    min-height: 1428px;
    flex-wrap: wrap;
}

.placement-list-item {
    width: 374px;
    min-height: 440px;
    margin-bottom: 24px;
    flex-direction: column;
    outline: 1px solid coral;
}

.placement-list-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.placement-desc {
    padding: 32px 45px;
    padding-bottom: 45px;
}

.placement-item-link {
  margin-top: auto;
  padding-bottom: 27px;
  text-align: center;
}